<a href="https://colab.research.google.com/github/JuniorTorresMTJ/Projeto_Pic/blob/main/project/limpeza/ProjetoPic_limpando_as_bases.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [1]:
import pandas               as pd
import numpy                as np

#Bibliotecas de visualização de dados
import seaborn              as sns
import matplotlib
import matplotlib.pyplot    as plt

import warnings
warnings.filterwarnings('ignore')


from google.colab import files

In [2]:
df_coberturas_uf = pd.read_csv("https://github.com/JuniorTorresMTJ/temp2/blob/main/data/Coberturas_%20Vacinais_por%20Imuno_e_UF.csv?raw=true", 
                               encoding='ISO-8859-1', sep=";", skiprows=3, skipfooter = 20, thousands=".", decimal =",")

df_coberturas_ano = pd.read_csv("https://github.com/JuniorTorresMTJ/temp2/blob/main/data/Coberturas_Vacinais%20_por_%20Ano_e_Imuno.csv?raw=true", 
                               encoding='ISO-8859-1', sep=";", skiprows=3, skipfooter = 20, thousands=".", decimal =",")

df_quant_doses_uf = pd.read_csv("https://github.com/JuniorTorresMTJ/temp2/blob/main/data/Doses%20C%C3%A1culos%20CV%20por%20Imuno_e_UF.csv?raw=true", 
                               encoding='ISO-8859-1', sep=";", skiprows=3, skipfooter = 20, thousands=".", decimal =",")

df_quant_doses_ano = pd.read_csv("https://github.com/JuniorTorresMTJ/temp2/blob/main/data/Doses_por_Imuno_segundo_Ano.csv?raw=true", 
                               encoding='ISO-8859-1', sep=";", skiprows=3, skipfooter = 20, thousands=".", decimal =",")

In [3]:
df_quant_doses_uf.head()

  Unidade da Federação  072 BCG  ...  003 dTpa gestante    Total
0          11 Rondônia    14635  ...              12992   331083
1              12 Acre     9720  ...               7354   176513
2          13 Amazonas    45990  ...              38286   955946
3           14 Roraima     8683  ...               5033   140382
4              15 Pará    64516  ...              52063  1246241

[5 rows x 25 columns]

In [4]:
df_coberturas_ano.head()

    Ano  072 BCG  ... 003 dTpa gestante  Total
0  1994    88.29  ...               NaN  49.46
1  1995   103.62  ...               NaN  52.02
2  1996   104.19  ...               NaN  52.26
3  1997   117.12  ...               NaN  58.17
4  1998   111.61  ...               NaN  61.01

[5 rows x 26 columns]

In [5]:
df_quant_doses_uf.head()

  Unidade da Federação  072 BCG  ...  003 dTpa gestante    Total
0          11 Rondônia    14635  ...              12992   331083
1              12 Acre     9720  ...               7354   176513
2          13 Amazonas    45990  ...              38286   955946
3           14 Roraima     8683  ...               5033   140382
4              15 Pará    64516  ...              52063  1246241

[5 rows x 25 columns]

In [6]:
df_quant_doses_ano

     Ano  072 BCG  ... 003 dTpa gestante     Total
0   1994  1442773  ...                 -   4849219
1   1995  3118425  ...                 -  10958504
2   1996  3250708  ...                 -  11413755
3   1997  3709941  ...                 -  12897208
4   1998  3568228  ...                 -  13654790
5   1999  3813081  ...                 -  19781941
6   2000  3772892  ...                 -  23851212
7   2001  3643993  ...                 -  23720109
8   2002  3542563  ...                 -  19843745
9   2003  3465048  ...                 -  14577689
10  2004  3425750  ...                 -  17091455
11  2005  3472248  ...                 -  17299080
12  2006  3328774  ...                 -  18260688
13  2007  3211520  ...                 -  18950919
14  2008  3196210  ...                 -  18523680
15  2009  3131159  ...                 -  18828602
16  2010  3070853  ...                 -  19498558
17  2011  3108763  ...                 -  23970982
18  2012  3044007  ...                 -  24116202
19  2013  3129807  ...             81614  43114789
20  2014  3116296  ...            271435  48547590
21  2015  3049524  ...           1304918  49652705
22  2016  2843993  ...           1006439  46856365
23  2017  2890591  ...           1260726  50722489
24  2018  2789273  ...           1799803  50787766
25  2019  1547820  ...           1197981  31982322

[26 rows x 27 columns]

##SEPARANDO O ID DO NOME DO ESTADO

In [7]:
df_coberturas_uf['072 id_uf'] = df_coberturas_uf["Unidade da Federação"].str.slice(0,3)
df_quant_doses_uf['072 id_uf'] = df_quant_doses_uf["Unidade da Federação"].str.slice(0,3)
df_coberturas_ano['072 Ano'] = df_coberturas_ano['Ano']
df_quant_doses_ano['072 Ano'] = df_quant_doses_ano['Ano']

##ARRUMANDO OS NOMES DOS ESTADOS

In [8]:
df_coberturas_uf["072 Unidade da Federação"] = df_coberturas_uf["Unidade da Federação"].str.slice(3,)
df_coberturas_ano["072 Unidade da Federação"] = df_coberturas_uf["Unidade da Federação"].str.slice(3,)
df_quant_doses_uf["072 Unidade da Federação"] = df_coberturas_uf["Unidade da Federação"].str.slice(3,)
df_quant_doses_ano["072 Unidade da Federação"] = df_coberturas_uf["Unidade da Federação"].str.slice(3,)

In [9]:
df_coberturas_uf.head()

  Unidade da Federação  072 BCG  ...  072 id_uf  072 Unidade da Federação
0          11 Rondônia    53.21  ...        11                   Rondônia
1              12 Acre    59.42  ...        12                       Acre
2          13 Amazonas    58.92  ...        13                   Amazonas
3           14 Roraima    73.98  ...        14                    Roraima
4              15 Pará    46.52  ...        15                       Pará

[5 rows x 26 columns]

In [10]:
df_coberturas_uf.drop(columns= ['Total', 'Unidade da Federação'], inplace= True)
df_coberturas_ano.drop(columns= ['Total','Ano'], inplace= True)
df_quant_doses_uf.drop(columns= ['Total', 'Unidade da Federação'], inplace= True)
df_quant_doses_ano.drop(columns= ['Total','Ano'], inplace= True)

In [11]:
df_coberturas_uf.rename(lambda x: x[4:], axis='columns', inplace= True)
df_coberturas_ano.rename(lambda x: x[4:], axis='columns', inplace= True)
df_quant_doses_uf.rename(lambda x: x[4:], axis='columns', inplace= True)
df_quant_doses_ano.rename(lambda x: x[4:], axis='columns', inplace= True)

In [12]:
list_index = [0,1,2,3,4,5,6,7,8,9,10,11,12,13,14,15,16,17,18,19]

##ESCOLHER AS COLUNAS PARA DROPAR

In [16]:
df_coberturas_uf.drop(columns=['Poliomielite 4 anos'], index = list_index, inplace= True)
df_coberturas_ano.drop(columns= col_ano_del, inplace= True)
df_quant_doses_uf.drop(columns= col_uf_del, inplace= True)
df_quant_doses_ano.drop(columns= col_ano_del, index = list_index , inplace= True)

KeyError: ignored

In [ ]:
df_coberturas_uf.columns.to_list()

In [ ]:
df_coberturas_uf.columns.to_list()

In [ ]:
df_coberturas_uf.columns.to_list()

In [ ]:
df_coberturas_ano.columns.to_list()

In [ ]:
cols_uf = ['id_uf','Unidade da Federação','BCG', 'Hepatite A','Hepatite B','Hepatite B  em crianças até 30 dias', 'Rotavírus Humano', 'Meningococo C', 'Penta', 'Pneumocócica', 'Poliomielite',
 'Poliomielite 4 anos', 'Febre Amarela', 'Pneumocócica(1º ref)', 'Meningococo C (1º ref)', 'Poliomielite(1º ref)', 'Tríplice Viral  D1',
 'Tríplice Viral  D2', 'Tetra Viral(SRC+VZ)', 'DTP', 'DTP REF (4 e 6 anos)', 'Tríplice Bacteriana(DTP)(1º ref)', 'Dupla adulto e tríplice acelular gestante',
 'dTpa gestante']

cols_ano = ['Ano', 'Unidade da Federação','BCG','Hepatite A','Hepatite B', 'Hepatite B  em crianças até 30 dias', 'Rotavírus Humano', 'Meningococo C','Penta', 'Pneumocócica', 'Poliomielite',
 'Poliomielite 4 anos', 'Febre Amarela',  'Pneumocócica(1º ref)', 'Meningococo C (1º ref)', 'Poliomielite(1º ref)', 'Tríplice Viral  D1',
 'Tríplice Viral  D2', 'Tetra Viral(SRC+VZ)', 'DTP', 'DTP REF (4 e 6 anos)', 'Tríplice Bacteriana(DTP)(1º ref)', 'Sarampo', 'Haemophilus influenzae b',
 'Dupla adulto e tríplice acelular gestante', 'dTpa gestante']

In [ ]:
df_coberturas_uf = df_coberturas_uf.reindex(columns=cols_uf)
df_quant_doses_uf = df_quant_doses_uf.reindex(columns=cols_uf)
df_coberturas_ano = df_coberturas_ano.reindex(columns=cols_ano)
df_quant_doses_ano = df_quant_doses_ano.reindex(columns=cols_ano)

In [ ]:
df_coberturas_uf.head()

In [ ]:
df_coberturas_ano.head()

In [ ]:
df_coberturas_uf.to_csv('Coberturas_vacinas_porImuno_e_UF_limpo.csv', index=False) 
df_quant_doses_uf.to_csv('Coberturas_Vacinas_por_Ano_e_Imuno_limpo.csv', index=False) 
df_coberturas_ano.to_csv('Doses_por_Imuno_e_UF_limpo.csv', index=False) 
df_quant_doses_ano.to_csv('Doses_por_Imuno_Ano_limpo.csv', index=False) 

files.download('Coberturas_vacinas_porImuno_e_UF_limpo.csv')